extends ./base.pug

block title
    title Site administrator | Home
    link(rel="stylesheet", href="/static/admin/css/index.css")

block content-left
    .p-5.m-5
    
block content

    #icon-app.text-center
        svg.bi.bi-app(width='10em', height='10em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', d='M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z')
        br
        br
        span Lựa chọn các tác vụ bên trái màn hình &larr;
        br
        span Các tác vụ sẽ được hiển thị tại đây

block content-right
    .p-5.m-5