/* body {
    
} */

.header-shadow {
  box-shadow: 5px 5px 8px rgba(207, 207, 207, 0.404);
}

nav {
  background-color: white;
}

h1 {
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 100;
}

/* Design Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

