body 
{
  background-color: #202124;
}

/* Header */
header 
{
  border-bottom: 1px solid #f5e3e085;
  background-color: #202124;
  z-index: 11111;
}

.header-shadow 
{
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.308);
}

.circle-radius:hover 
{
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 100%;
}
/* /Header */

/* Main menu */
#fixed-menu 
{
  z-index: 111111;
}

#fixed-menu a 
{
  cursor: default;
  color: rgba(255, 255, 255, 0.562);
}

.base-color {
  color: rgba(255, 255, 255, 0.562);
}

/* Design Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202124;
  border-left: 1.5px solid rgba(0, 0, 0, 0.151); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
