input[type=text] {
  background-color: rgba(128, 128, 128, 0.527);
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 3px;
}


#newuser {
  background-color: rgba(128, 128, 128, 0.192);
  transition: padding-right 0.5s;
}

#newuser:hover {
  padding-right: 20%;
  /* width: 100%; */
}

#newuser span {
  display: none;
  transition: opacity 3s;
}

#newuser:hover span {
  
}

#newuser svg {
  opacity: 1;
  /* display: block; */
  transition: opacity 1s 0s;
}

#newuser:hover svg {
  opacity: 0;
  /* display: none; */
}


input[type=text]:focus {
  background-color: white;
}

input, 
input:active, 
input:focus {  
  outline: 0;  
  outline-style: none;  
  outline-width: 0; 
} 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

section {
  border: 1px solid #f5e3e085;
  border-radius: 3px;
}

table th {
  font-weight: 400;
}