extends ./base.pug

block title
    title ExpressIct
block content   
    br
    .row
        .col-md
            .row
                .col-md-4
                    .row.h-100
                        .col-md.m-1
                            h1.display-4 Title
                            small#titlesmall.text-muted Nail is Art
                            
                .col-md-3
                    .row
                        .col-md.p-0.m-1
                            a(href="#").card.border-0.text-dark
                                img.card-img-top(src='/static/cup.jpg', alt='...')
                                .card-body
                                    p.card-text
                                        | Some 

                    .row
                        .col-md.p-0.m-1
                            a(href="#").card.border-0.text-dark
                                img.card-img-top(src='/static/cup.jpg', alt='...')
                                .card-body
                                    p.card-text
                                        | Some 
                .col-md-5
                    .row
                        .col-md.p-0.m-1
                            a(href="#").card.border-0.text-dark
                                img.card-img-top(src='/static/cup.jpg', alt='...')
                                .card-body
                                    p.card-text
                                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.


                            //- img(src="/static/cup.jpg", alt="").w-100
