extends ./base.pug

block title
    title ExpressIct | Profile
    link(rel="stylesheet", href="/static/home/css/user.css")
block content
    .row
        .col-md-4.bg-dark
            .row
                .col.m-1.bg-white
                    img(src="/static/cup.jpg", alt="")
        .col-md-8.bg-dark
            .row
                .col.m-1.bg-white
                    //- p= user.firstname
    .row
        .col-md-6.bg-dark
            .row
                .col.m-1.bg-white
                    p sadasd
        .col-md-6.bg-dark
            .row
                .col.m-1.bg-white
                    p sadasd


block footer
