/* Design input */

input[type=text] {
  background-color: #26272b;
  border: none;
}

input,button,a,
input:active, 
input:focus {  
  outline: 0;  
  outline-style: none;  
  outline-width: 0; 
} 

input[type=text]:focus {
  background-color: #26272b;
  border-bottom: 1px solid white;
}

/* /Design input */

/* Placeholder */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

/* /Placeholder */

/* Form  */

button {
  height: 31px;
  border: none;
}

h5 {
  font-size: 17px;
}

#title {
  font-size: 25px;
}

#delete {
  display: none;
}

#lable-delete {
  cursor: pointer
}

/* /Form */

.bg-theme {
  background-color: #26272b;
}