<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')


        link(rel="stylesheet", href="/static/login/css/admin.login.css")

        title Site administrator | Login

    body.text-white

        .container
            .row
                .col-sm
                    .d-flex.justify-content-center.mt-5
                        .p-2.bd-highlight 
                        .p-2.bd-highlight 
                            h1.display-4 Login
                            if err
                                p= err.notification
                            form(action="", method="post")
                                input(type="text", name="username")
                                input(type="password", name="password")
                                input(type="submit", value="go")
                        .p-2.bd-highlight 

        footer
            //- script(src="/static/admin/js/base.js")



                    

